{% extends "core/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media mb-4 content-section">
            <div class="media-body">
                <h2><a class="mx-2 py-1 article-title" href="{% url 'newsfeed-post-detail' post.id %}">{{ post.title }}</a></h2>
                <div class="content-card">
                    <p class="mx-2 article-content">{{ post.content }}</p>
                    <div class="mx-2 atricle-link-box">
                        <i class="fas fa-link"></i>
                        <a class="article-link" href="{{ post.link_url }}">
                            {{ post.link_title }}</a>
                    </div>
                    <small class="ml-2 text-muted">Source: {{ post.source }}</small>
                    <div class="mb-1 pb-1">
                        {% for tag in post.tags %}
                            <div class=" ml-2 my-1 article-tag">
                                <p class="mx-2">{{ tag }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <p class="ml-2 article-date">{{ post.date_posted|date:"F d, Y" }}</p>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content%}
