body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.navbar-bg {
  background-color: #ffffff;
}

.navbar-title {
    color: #435552;
    font-size: 35px;
    font-weight: bold;
}

.navbar-title:hover {
    color: #cbd5db;
    text-decoration: none;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.navbar-nav {
  font-size: 1.5em;
}

.site-header .navbar-nav .nav-link:hover {
  color: #428bca;
}

.site-header .nav-link.active {
  font-weight: 500;
}

.content-section {
  background-image: linear-gradient(#b6f1e9, white, white);
  border-radius: 18px;
}

.content-card {
  background: #ffffff;
  border-radius: 18px;
}

.newsfeed-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 27px;
}

.article-title {
  color: #435552;
  font-size: 20px;
  font-weight: 600;
}

a.article-title:hover, .article-link:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color: #a1aaa8;
  font-size: 16px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-tag {
    height: 24px;
    border-radius: 12px;
    display: inline-block;
    font-size: 16px;
    color: #707070;
    background-color: #def5f9;
}

.article-date {
    font-size: 15px;
    color: #a1aaa8;
}

.article-link-box {
    background-color: #e0e9e8;
    border-radius: 20px;
    height: 40px;
    width: 97%;
    font-size: 16px;
}

.article-link {
    color: #435552;
    font-size: 16px;
    vertical-align: middle;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.paginated-controls {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
    .container{
        max-width: 630px;
    }
}